<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Datasource configuration (alternatively you can use the JNDI way) -->
	<!-- How to use JNDI DS:
		<bean id="myDataSource1" class="org.springframework.jndi.JndiObjectFactoryBean">
			<property name="jndiName value="java:comp/env/jdbc/myds"/>
		</bean>
	-->
	<bean id="defaultDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://${DB_HOST:localhost}:3306/${DB_NAME:bolao}?useSSL=false&amp;allowPublicKeyRetrieval=true" />
		<property name="username" value="${DB_USER:root}" />
		<property name="password" value="${DB_PASS:copa2014brasil}" />
		<property name="maximumPoolSize" value="10" />
		<property name="minimumIdle" value="2" />
		<property name="idleTimeout" value="30000" />
		<property name="connectionTimeout" value="30000" />
	</bean>

</beans>