<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<!-- Datasource configuration (alternatively you can use the JNDI way) -->
	<bean id="defaultDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:bolao}?useSSL=true&amp;requireSSL=true&amp;verifyServerCertificate=false&amp;allowPublicKeyRetrieval=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;connectionCollation=utf8mb4_unicode_ci&amp;cachePrepStmts=true&amp;prepStmtCacheSize=250&amp;prepStmtCacheSqlLimit=2048&amp;useServerPrepStmts=true" />
		<property name="username" value="${DB_USER:root}" />
		<property name="password" value="${DB_PASSWORD}" />
		<property name="maximumPoolSize" value="10" />
		<property name="minimumIdle" value="2" />
		<property name="idleTimeout" value="30000" />
		<property name="connectionTimeout" value="30000" />
		<property name="maxLifetime" value="1800000" />
		<property name="initializationFailTimeout" value="0" />
		<property name="leakDetectionThreshold" value="60000" />
	</bean>
	
	<!-- Automatic Database Initialization (Cloud-friendly) -->
	<jdbc:initialize-database data-source="defaultDataSource" enabled="${DB_INITIALIZE:true}">
		<jdbc:script location="classpath:database/schema.sql" />
		<jdbc:script location="classpath:database/data.sql" />
		<jdbc:script location="classpath:database/copa-2026-data.sql" encoding="UTF-8" />
	</jdbc:initialize-database>

</beans>
