<p>Olá, ${nome}!</p>
<p>
    Vosso cadastro foi validado pelas Guildas e as runas de acesso já foram forjadas com sucesso. A partir deste ciclo, estais apto a transpor os portais e acessar o sistema através do endereço em
    <a href="${sistema}">${sistema}</a> utilizando as runas de acesso (login e senha) que definistes em vosso cadastro.
<p>
    Que a clareza guie seus palpites e que a jornada pelo Bolão 2026 seja plena de sabedoria e glória, enquanto torcemos juntos para que a armadura amarela e verde conquiste o título máximo nos campos!
</p>
