<p>Olá, participante do Bolão de Placa 2026!</p>
<p>
    Conforme o cronograma das nossas Guildas, em 2 horas teremos início às seguintes batalhas nos gramados:<br />
    <table cellspacing="1" cellpadding="2" align="center" width="600px" style="font-size: 12px;">
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Local</th>
            <th>Equipes</th>
        </tr>
        ${jogos}
    </table>
</p>
<p>
    Recordai que as runas de previsão só podem ser seladas até 1 hora antes do início das contendas; portanto, não deixeis para o último ciclo — fazei vossas apostas sem demora e garanti vosso lugar nesta disputa pela glória!
</p>
<p><!--
    ${sexta}-->
</p>
