<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean name="participanteAction"
    	class="com.opendev.bolao.action.ParticipanteAction"
    	singleton="false">
    	<property name="palpiteService" ref="palpiteService" />
    	<property name="participanteService" ref="participanteService" />
    	<property name="jogoService" ref="jogoService" />
    	<property name="equipeService" ref="equipeService" />
    </bean>
    
    <bean name="adminAction"
    	class="com.opendev.bolao.action.AdminAction"
    	singleton="false">
		<property name="equipeService" ref="equipeService" />
    	<property name="jogoService" ref="jogoService" />
    	<property name="participanteService" ref="participanteService" />
    </bean>

</beans>