<p>Olá participante do Bolão de Placa 2006!</p>
<p>
    Dentro de 2hrs teremos os seguintes jogos:<br />
    <table cellspacing="1" cellpadding="2" align="center" width="600px" style="font-size: 12px;">
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Local</th>
            <th>Equipes</th>
        </tr>
        ${jogos}
    </table>
</p>
<p>
    Lembrando que só é possível confirmar seu palpite até 1hr antes do jogo começar, portanto
    dê logo o seu palpite e não fique de fora da disputa!
</p>
<p><!--
    ${sexta}-->
</p>